@font-face {
    src: url(assets/fonts/Papaya-Sunrise-D.otf);
    font-family: papaya;
}

body {
    height: 100%;
    margin: 0;
    background-image: url(assets/images/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#restaurant-name {
    text-align: center;
    color: yellow;
    font-family: papaya;
    margin-bottom: 0px;
}

#headline {
    text-align: center;
    color: orange;
    font-family: Arial;
}

#navbar {
    width: 80vw;
    margin: 0 auto;
}

#navbar > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: yellow;
    padding: 0;
}

li {
    list-style-type: none;
    cursor: pointer;
    font-family: Arial;
}

#info {
    width: 75vw;
    height: 50vh;
    margin: 0 auto;
}

#info > ul {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
}

li > img {
    width: 60%;
    height: 60%;
    display: block;
    margin: 0 auto;
}

h3 {
    color: whitesmoke;
    text-align: center;
}